<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <script type="module" src="/static/app.js" defer></script>
    </head>

    <body>
        <section id="weapons">
            <h1>🦝</h1>
            <div>
                <label>Enabled</label>
                <input class="feature_flag_switch" data-target="soaker" type="checkbox" {{ "checked" if soaker["enabled"] else "" }}>
                <h2>Last activations:</h2>
                <table>
                    <tr>
                        <th>When</th>
                        <th>Where</th>
                    </tr>
                    {% for ts, area in soaker["last_runs"] %}
                        <tr>
                            <td>{{ts}}</td>
                            <td>{{area}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </section>

        <section id="irrigation">
            <h1>💧</h1>
            <div>
                <label>Enabled</label>
                <input class="feature_flag_switch" data-target="irrigation" type="checkbox" {{ "checked" if irrigation["enabled"] else "" }}>
            </div>
        </section>

        <section id="temperature">
            <h1>🌡️</h1>
            <div>
                
            </div>
        </section>

        <section>
            <h1>📱</h1>
            <div>
                <table>
                    <tr>
                        <th>Property</th>
                        <th>Value</th>
                    </tr>
                    {% for prop, value in app.items() %}
                        <tr>
                            <td>{{prop}}</td>
                            <td>{{value}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </section>
    </body>
</html>