<!--  -->
{% extends "base.html.jinja" %}
<!--  -->
{% block head %}
<script type="module" src="/static/temperature.js?nocache" defer></script>
{% endblock %}
<!--  -->
{% block content %}
<!--  -->
<section class="container">
    <div class="row">
        {% for room in rooms %}
        <div class="col-6 gy-4">
            <div class="card text-center">
                <div class="card-header">
                    {{room.name}}
                </div>
                <div class="card-body">
                    <div>
                        <h1>{{room.current}}</h1>
                    </div>
                    <div>
                        <span style="color: var(--bs-blue);">{{room.min_1d}}</span>
                        <span> - </span>
                        <span style="color: var(--bs-red);">{{room.max_1d}}</span>
                    </div>
                    <div class="mt-2 d-flex justify-content-between">
                        <button type="button" class="btn btn-link btn-sm" href="{{room.link}}">
                            <i class="bi bi-graph-up"></i>
                        </button>
                        <span>
                            {% for hvac in room.hvacs %}
                            <button type="button" class="btn {{
                                {
                                    "OFF": "btn-secondary",
                                    "HEAT": "btn-warning",
                                    "COOL": "btn-info",
                                }[hvac.reported_state.mode.name] | default("btn-success")
                            }} btn-sm" data-toggle="modal" data-target="#{{hvac.esp_name}}Settings">
                                <i class="bi {{
                                    {
                                        "AUTO": "bi-water",
                                        "MEDIUM": "bi-wind",
                                        "HIGH": "bi-tornado",
                                    }[hvac.reported_state.fan.name] | default("bi-question-diamond")
                                }}"></i>
                            </button>
                            {% endfor %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section>
    {% for room in rooms %}
    {% for hvac in room.hvacs %}
    <div class="modal fade settings" id="{{hvac.esp_name}}Settings" tabindex="-1" role="dialog" aria-labelledby="{{hvac.esp_name}}SettingsLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="{{hvac.esp_name}}SettingsLabel">{{hvac.esp_name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-control" id="control-auto">
                        <h5><i class="bi bi-robot"></i> Automatique</a></h5>
                        <div class="form-group row container">
                            <label for="in-min-temp" class="col col-form-label">Min:</label>
                            <input id="in-min-temp" type="number" value="{{room.min_temp}}" class="form-control col"></input>
                        </div>
                        <div class="form-group row container">
                            <label for="in-max-temp" class="col col-form-label">Max:</label>
                            <input id="in-max-temp" type="number" value="{{room.max_temp}}" class="form-control col"></input>
                        </div>
                        <div class="form-group row container">
                            <button type="button" class="btn btn-primary btn-activate" data-context="{{hvac.esp_name}}Settings" data-control="auto" data-room="{{room.name}}">Activer</button>
                        </div>
                    </div>

                    <div class="form-control" id="control-app">
                        <h5><i class="bi bi-phone"></i> Application</a></h5>
                        <div class="form-group row container">
                            <label for="ddbtn-mode" class="col col-form-label">Mode:</label>
                            <select id="ddbtn-mode" class="form-control col col-sm-2">
                                <option value="off" {% if hvac.desired_state.mode.name == "OFF" %}selected="selected"{% endif %}>Off</option>
                                <option value="heat" {% if hvac.desired_state.mode.name == "HEAT" %}selected="selected"{% endif %}>Chaud</option>
                                <option value="cool" {% if hvac.desired_state.mode.name == "COOL" %}selected="selected"{% endif %}>Froid</option>
                            </select>
                        </div>
                        <div class="form-group row container">
                            <label for="ddbtn-fan" class="col col-form-label">Fan:</label>
                            <select id="ddbtn-fan" class="form-control col">
                                <option value="auto" {% if hvac.desired_state.fan.name == "AUTO" %}selected="selected"{% endif %}>Auto</option>
                                <option value="medium" {% if hvac.desired_state.fan.name == "MEDIUM" %}selected="selected"{% endif %}>Normal</option>
                                <option value="high" {% if hvac.desired_state.fan.name == "HIGH" %}selected="selected"{% endif %}>Fort</option>
                            </select>
                        </div>
                        <div class="form-group row container">
                            <label for="in-temp" class="col col-form-label">Temperature:</label>
                            <input id="in-temp" type="number" value="{{hvac.desired_state.target_temp}}" class="form-control col"></input>
                        </div>
                        <div class="form-group row container">
                            <button type="button" class="btn btn-primary btn-activate" data-context="{{hvac.esp_name}}Settings" data-control="app" data-hvac="{{hvac.esp_name}}">Activer</button>
                        </div>
                    </div>

                    <div class="form-control" id="control-remote">
                        <h5><i class="bi bi-hand-index"></i> Télécommande</a></h5>
                        <div class="form-group row container justify-content-end">
                            <button type="button" class="btn btn-primary btn-activate" data-context="{{hvac.esp_name}}Settings" data-control="remote" data-hvac="{{hvac.esp_name}}">Activer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endfor %}
</section>
<!--  -->
{% endblock %}