[Unit]
Description=Home
After=docker.service
Requires=prometheus.service

[Service]
ExecStart=\
        docker run \
        -p 3000:3000 \
        home:latest
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target