[Unit]
Description=Home
After=docker.service
Requires=prometheus.service

[Service]
ExecStart=\
        docker run \
        -p 8000:8000 \
        --mount type=bind,source=/home/dorian/static/music,target=/app/static/music,readonly \
        home:latest
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target