[Unit]
Description=netscan
After=network.target
Requires=mosquitto.service

[Service]
ExecStart=/github/home/netscan/netscan.bin
StandardOutput=inherit
StandardError=inherit
Restart=always
User=dorian

[Install]
WantedBy=multi-user.target