input[type="number"] {
    width: 5em;
    text-align: right;
}

nav {
    display: flex;
    font-size: 15vw;
    justify-content: space-evenly;
}

nav>a {
    width: 25%;
    text-align: center;
}

body>section {
    display: none;
}

body>:target {
    display: block;
}