[Unit]
Description=Grafana
After=docker.service
Requires=prometheus.service

[Service]
ExecStart=\
        docker run \
        -p 3000:3000 \
        --mount type=bind,source=${ROOT}/systemd/grafana/grafana.ini,target=/etc/grafana/grafana.ini,readonly \
        --mount source=grafana,target=/var/lib/grafana \
        grafana/grafana
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target