[Unit]
Description=air2
After=network.target
Requires=mosquitto.service

[Service]
ExecStart=/github/home/bin/air2
StandardOutput=inherit
StandardError=inherit
Restart=always
User=dorian

[Install]
WantedBy=multi-user.target