[Unit]
Description=Docker
After=docker.service
Requires=docker.service

[Service]
ExecStart=\
        docker run \
        -p 443:443 \
        --mount source=letsencrypt_etc,target=/etc/letsencrypt,readonly \
        --mount type=bind,source=/home/dorian/static,target=/static,readonly \
        --mount type=bind,source=/github/home/nginx,target=/etc/nginx,readonly \
        --mount type=bind,source=/home/dorian/client_certs/ca.crt,target=/etc/client_certs/ca.crt,readonly \
        nginx
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target