{{define "title"}}Air - {{.Name}}{{end}}

{{define "body"}}
<section class="container">
    <div class="card mt-2">
        <div class="card-body">
            <h1>{{.Name}}</h1>
            <form action="/air/room/{{.Name}}" method="POST">
                <div class="row mb-5 mt-3">
                    <label class="form-label col-6">Desired temperature range:</label>
                    <div class="form-check form-switch form-check-reverse col-5">
                        <input class="form-check-input" type="checkbox" id="isScheduleActive" name="isScheduleActive"
                            {{if eq .TempSlider.Enabled false}}checked{{end}}
                            oninput="
                                this.parentNode.parentNode.querySelector('[slider]').style.display = this.checked? 'none' : ''
                            ">
                        <label class="form-check-label" for="isScheduleActive">Auto</label>
                      </div>
                    {{template "slider" .TempSlider}}
                </div>
                <div class="row">
                    <button class="btn btn-primary" type="submit">Apply</button>
                </div>
            </form>
        </div>
    </div>
</section>
{{end}}